html, body {
    height: 100%;
}

body {
    background: rgb(96,96,103);
    background: linear-gradient(90deg, rgba(96,96,103,1) 0%, rgba(23,2,8,1) 100%);
    background-repeat: no-repeat;
    overflow-x:hidden;
    overflow-y:hidden;
}

/* fonts known as brush fonts like selima, hensa*/
@font-face {
    font-family: 'hensa';
    src: url('../fonts/Hensa.otf') format('opentype');
}

/*css for the main container starts */
div.mYcontainer { 
    margin: auto auto auto auto;
    position: relative;
    height: 100%; /*this is essentially the same as body*/
    width: 100%;
    font-size: 2vw;
  
}
/* css for the main container ends*/


/* css for background animation bubbles start*/
.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper div {
        position: absolute;
        height: 2.5rem; /*to make the bubbles appear*/
        width: 2.5rem;
        background-color: white;
        border-radius: 50%;
    }

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 0.7;
    }

    100% {
        transform: scale(1.9) translateY(3em) rotate(360deg);
        opacity: 0;
    }
}

/* css for background animation bubbles end*/



/* css for mainbox for every div starts*/
div.mainBox {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* line 64-65 to bring the box in the centre*/
    position: absolute;
    width: 50%;
    height: 80%;
    background-color: #efeffb;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.25rem #181717;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
}

/*css for mainbox for every div end*/

/*style for centering the div both horizontally and vertically*/
div.contentMainPage, .projectDetails, .skillback, .projectBack, .contactBack, .abtMeback, .contactDetails, .ContentHolder, .actualContent, .contactIcons {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

/*style for the first div heading and paragraph*/
.mainContent {
    font-family: 'Red Hat Display', sans-serif;
}

/*typewriting effect*/
.typewriter>h1 {
    overflow: hidden;
    border-right: .15rem solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15rem;
    animation: typing 3.5s steps(40, end), caret .75s step-end infinite;
    font-size: 3em;
}


@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}

#skillBox, #contactBox, #AboutMe, #projectBox {
    display: none;
}

.skillback, .projectBack, .contactBack, .abtMeback {
    opacity: 0.08;
}
.skillback p, .projectBack p, .contactBack p, .abtMeback p {
        font-size: 5em;
        color: black;
        font-family: 'hensa';
    }

/*style for centering the content inside a div*/
.contactDetails, .projectDetails {
    justify-content: center;
    display: flex;
}


/* style for the list items and list in the project div*/
ol.mainList {
    counter-reset: section;
    list-style: none;
    padding: initial;
}

ol.mainList li {
        min-height: 3rem;
        position: relative; /*this is required as the counter li are absolute and depend on this*/
        font-family: 'Red Hat Display', sans-serif;
        counter-increment: section;
        background: rgba(0, 0, 0, 0);
        border-radius: 0 0.5rem 0.5rem 0.5rem;
        box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
        padding-left: 2rem;
    }

ol.mainList li a {
            color: black; /*a does not inherit parent style*/
        }

/*style for the counter displayed on the left side*/
    ol.mainList li::before, ol.mainList li::after {
        border: 0.1rem #484747 solid;
        border-radius: 0.5rem 1rem 0.5rem 0.5rem;
        background: cornflowerblue;
        font-weight: bold;
        font-style: italic;
        color: white;
        font-family: 'Abril Fatface', serif;
        font-size: 1em;
        height: 3.5rem;
        width: 3.2rem;
        left: -4rem;
        top: 1rem;
        overflow: hidden;
        position: absolute;
       
    }

ol.mainList li::before {
            align-items: flex-end;
            content: counter(section);
            color: white;
            display: flex;
            justify-content: flex-end; /*to bring the number in the counter in the corner*/
            padding: 0.7rem 0.2rem 0.1rem 0.1rem;
            z-index: 1;
}

/*styles mainly for the contactDetails div*/
.contactDetails p {
    font-size: 1em;
    font-family: monospace;
}

/*envelope icon*/
.contactDetails i {
    color: black;
    font-size: 1em;
}

/*other icons on the contact page*/
.contactIcons {
    top:60%;
    position:absolute;
    display: flex;
    justify-content: center;
}
.contactIcons i {
        font-size: 1em;
        margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}


/*style for skills circles*/
svg {
    height: 9vw;
    width: 10vw;
}

.progress_circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.eachrow {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

svg text {
    font-family: 'Red Hat Display', sans-serif;
}

/*style for the icon box in right side of div*/
.mainBoxIcons {
    right: 0;
    bottom: 0;
    position: fixed;
    margin-right:1rem;
}

.mainBoxIcons button {
        border: none;
        background: none;
        font-size: 1em;
    }

.ContentHolder, .actualContent {
    text-align: center;
}

.actualContent p {
    font-size: 0.5em;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 0.2rem;
}


/*styles for mobile devices*/
@media screen and (max-width: 1366px) {
    div.mainBox {
        width: 70%;
    }

    .typewriter h1 {
        font-size: 2em;
    }

    .typewriter p {
        font-size: 1em;
    }

    .mainBoxIcons {
        height: 2em;
    }

    .contactIcons i {
        font-size: 2em;
    }
    .contactDetails p,.contactDetails i {
        font-size: 1.5em; /*this is 1.5 time 2vw set in myContainer, same for all font size ending with unit em*/
    }

    ol.mainList {
        margin: auto auto;
    }

        ol.mainList li {
            width: 56vw;
            font-size: 1vw;
            margin: 0.8vw 0.8vw 0.8vw 0.8vw;
        }

            ol.mainList li::before, ol.mainList li::after {
                height: 3vw;
                width: 3vw;
                left: -1rem;
                top: 0rem;
            }

    .contactBack p, .skillback p, .projectBack p, .abtMeback p {
        font-size: 5em;
    }

    .actualContent p {
        font-size: 0.5em;
    }
}

@media screen and (min-width: 921px) and (max-width: 1230px) {
    div.mainBox {
        width: 65vw;
    }
}
